/*
<!-- ⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️⚔️ -->
<div id="trgt" class="carousel slide" data-bs-ride="carousel">	
	

	<!-- Indicator/dots -->
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#trgt" data-bs-slide-to="0" class="active"></button>
		<button type="button" data-bs-target="#trgt" data-bs-slide-to="1"></button>
		<button type="button" data-bs-target="#trgt" data-bs-slide-to="2"></button>
	</div>


	<!-- slide show/carousel -->
	<div class="carousel-inner">

		<div class="carousel-item active">
			<img src="C:\Users\lenovo\OneDrive\Attachments\Website\moonqueen1st.png" alt="video_sumrry1st" class="d-block w-100">
		</div>

		<div class="carousel-item">
			<img src="C:\Users\lenovo\OneDrive\Attachments\Website\moonqueen2nd.png" alt="video_summery2nd" class="d-block d- w-100">
		</div>
		
	</div>


	<!-- left btn ctrl -->
	<button class="carousel-control-prev" type="button" data-bs-target="#trgt" data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</button>


	<!-- right btn ctrl -->
	<button class="carousel-control-next", type="button" data-bs-target="#trgt" data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
	</button>

</div>

*/