.body {
	margin: 5px;
	background: rgba(0, 0, 0, 1.0);
	padding: 5px;
}

.form-container {
	border-style: double;
	border-width: 5px;
	border-color: #0000ff;
	background-image: radial-gradient(rgba(0, 50, 50, 1), 
		rgba(0, 0, 50, 1.0));
	position:center;

}


#form {
	background-image:url("registration_form.png");
	background-position: right;
	background-size: contain;
	background-repeat:no-repeat ;
	background-clip: padding-box;
	background-attachment:fixed ;


}

h5 {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness:2px;
	text-shadow: 2px 0px green;
	text-transform: capitalize;
	width: 70%;
	text-shadow: 0px 1px rgba(0, 0, 0, 1.0), 1px 0px rgba(0, 0, 0, 1.0)
	, 1px -0px rgba(0, 0, 0, 1.0), -1px 0px rgba(0, 0, 0, 1.0);


}

#eid, input[type=text] {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 1.0);
	border-radius: 4px;
	box-sizing:border-box;
	margin: 4px 0px 5px 0px;
	width: 100%;
	padding: 4px 0px ;
	background: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1.0);
	padding-left: 10px;
	box-shadow: 1px 1px 2px black;
	font-style: italic;
}


#file {

	width: 70%;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-color:rgba(0, 0, 0, 1.0);
	border-radius:4px;
	margin: 5px 0px 5px 0px;
	background-color: dimgray;
	color: whitesmoke;	
	text-transform: lowercase;
	box-shadow: 1px 1px 2px black;
	font-style: italic;
}

#yexp, #telnum, #birthday{
	width: 100%;
	padding: 4px 0px;
	border-style: solid;
	border-width: 2px;
	border-color:rgba(0, 0, 0, 1.0);
	border-radius:4px;
	margin: 5px 0px 5px 0px;
	color: gray;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px black;
	font-style: italic;
	text-transform: uppercase;
	padding-left:10px ;
	color:gray;
}


#degree, #country {
	width: 100%;
	padding: 4px 0px;
	border-style: solid;
	border-width: 2px;
	border-color:rgba(0, 0, 0, 1.0);
	border-radius:4px;
	margin: 5px 0px 5px 0px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px black;
	font-style: italic;

}

#opt1, #opt2, #opt3{
	border: 2px double rgba(0, 0, 0, 1.0);
	

}

#btn1, #btn2 {

	border: 4px solid rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 1.0);
	font-style: italic;
/*	border-top-left-radius: 30%;*/
/*	border-bottom-right-radius: 30%;*/
/*	border-top-right-radius: 30%;*/
/*	border-bottom-left-radius: 30%;*/
	width: 100px;
	margin-top: 10px;

}

#btn_container {
	margin: 10px 5px;
	padding: 10px ;
	font-family: sans-serif;


}


#text_msg {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 1.0);
	border-radius: 4px;
	height: 65px; 
	width: 250px;
	background: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1.0);
	padding-left: 10px;
	box-shadow: 1px 1px 2px black;
	font-style: italic;
	overflow: auto;

}


label {
	color: rgba(255, 255, 255, 1.0);
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	font-family:sans-serif;
	font-weight: bold;
}

td {
/*	padding: 0px 15px;*/
	padding-left: 10px;

}


